/* sanader modifications  */

.ltn__header-options-2 .header-search-1, .ltn__header-options-2 .ltn__drop-menu > ul > li > a, .ltn__header-options-2 .mini-cart-icon a, .ltn__header-options-2 .header-wishlist{
    border-radius: 30px !important;
}

.ltn__header-options-2 .mobile-menu-toggle > a{
    border-radius: 30px !important;
}

.ltn__top-bar-menu ul li a i{
color:white;
}


.header-search-1-form{
    top:98%;
}
.header-search-1-form form{
    margin:0px;
    border-radius:30px;
}
.search-open.header-search-1-form{
    height:58px !important;
    border-radius:30px;
}
.ltn__utilize-menu-search-form input[type="text"]{
    border-radius:30px;
}
.ltn__utilize-buttons .utilize-btn-icon{
    border-radius: 30px;
}
.ltn__social-media-2 ul li a{
    border-radius: 30px;
}
.footer-top-area{
    background-color:#3d7de8 !important;
}
.footer-menu ul li a, .footer-widget .footer-title,.footer-address ul li .footer-address-icon{
    color:white !important;
}
.footer-menu ul li a:hover{
    color:#03c4a5;
}
.footer-widget p{
    color:white;
}

/* Footer Social Media links start form here */
.ltn__social-media ul li a i{
    color:white;
} 
.ltn__social-media ul li a i:hover{
    color:#03c4a5;
}
/* Footer Social Media Links Ends here */
.section-bg-7{
    background-color:#03c4a5;
}
.payment-heading{
    color:white;
}
.footer-newsletter form input{
    height:35px;
    border-radius:30px;
    border:5px solid white;
}
.ltn__category-area .section-bg-1--{
    background-color:#03c4a5 !important;
}

.ltn__header-top-area{
    background-color:#3d7de8;
}
.display-none{
    display:none;
}

.featured-offers-area{
    background-color:#02c3a4 !important;
}
.card-radius{
    border-radius: 30px;
}
.button-radius{
    border-radius: 30px;
}
.button-radius:hover{
 background-color:#02c3a4;   
}
.header-bottom-area{
    background-color:#02c3a4 !important;   
}
.ltn__main-menu > ul > li > a{
    color:#fff;
    font-weight:400;
}
.mega-menu{
    margin-top:-20px !important;
}
.sticky-active.ltn__sticky-bg-white .ltn__main-menu > ul > li > a{
    color:white;
}
.sticky-active.ltn__sticky-bg-white .ltn__main-menu > ul > li > a:hover{
    color:#3d7de8;
}
.mobile-header-menu-fullwidth{
    margin:0px !important;
}

.ltn__header-3 .ltn__header-middle-area{
    
}



@media only screen and (max-width: 600px) {
    .ltn__header-top-area{
        display:none;
    }
    .mobile-header-menu-fullwidth .mobile-menu-toggle{
        border-radius:30px;
    }
    .ltn__header-area{
        background: linear-gradient(90deg, rgba(2,195,164,0.3561799719887955) 0%, rgba(61,125,232,1) 100%);
    } 
  }
